secrets.yaml
OZW_Log.txt
nest.conf
home-assistant.db
home-assistant.log
home-assistant_v2.db
home-assistant_v2.db-journal
home-assistant_v2.db-shm
home-assistant_v2.db-wal
pyozw.sqlite
deps/
*/__pycache__/
*.save
.uuid
